streamlit==1.45.0
finvizfinance==0.14.2
pandas==2.2.3
yfinance==0.2.36
vaderSentiment==3.3.2
mplfinance==0.12.9b7
ccxt==4.0.91
plotly==5.15.0
numpy==1.24.4  # Explicitly add numpy (vaak nodig voor mplfinance)
